[submodule "Editor/External/glfw"]
	path = Editor/External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/External/Blast"]
	path = Engine/External/Blast
	url = https://github.com/hipiPan/Blast.git
